/*Style de la Navbar*/
.main-nav {
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-link:hover {
    color: #000;
}


.nav-logo {
    height: 40px;
    width: auto;
}