/*Style de la Navbar*/
.main-nav {
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-link:hover {
    color: #000;
}


.nav-logo {
    height: 40px;
    width: auto;
}

.icon,
.btn-icon img,
.data-icon{
    width: 18px;
    height: 18px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}

/* ----- STRUCTURE EN DEUX COLONNES ----- */
.profil-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}

/* ----- CASE À GAUCHE : MES DONNÉES ----- */
.bloc-donnees {
    width: 50%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 6px;
}

/* ----- CASE À DROITE : MES OBJECTIFS ----- */
.bloc-objectifs {
    width: 50%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 6px;
}
